@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import url(//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import url(//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,400italic,700);
@import url(//fonts.googleapis.com/css?family=Damion);
@import url(//fonts.googleapis.com/css?family=Pacifico);

/*==================  Stuck menu  ======================*/

.stuck_container {
  padding-bottom: 11px;
  -moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  z-index: 999;
  position: relative;
}
.isStuck {
  z-index: 999;
  background: #ffffff;
  padding-top: 17px;
}
@media only screen and (max-width: 992px) {
  .isStuck {
    display: none !important;
  }
}
.isStuck .sf-menu ul {
  top: 40px;
}
.isStuck .sf-menu ul ul {
  top: 0;
}

/*==================     ToTop     ======================*/
.toTop {
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  width: 42px;
  height: 42px;
  color: #8f8f90;
  background: #f7f7f7;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: fixed;
  right: 40px;
  bottom: 40px;
  display: none;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  z-index: 99999;
}
.toTop:before {
  font-size: 27px !important;
  line-height: 38px !important;
}
.toTop:before {
  line-height: 47px;
  font-size: 22px;
  font-weight: 700;
}
.toTop:hover {
  background: #01b9af;
  text-decoration: none;
  color: #ffffff;
}
.mobile .toTop,
.tablet .toTop {
  display: none!important;
}

/*==================   Thumbnail    ======================*/
.thumb {
  display: block;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.thumb img {
  width: 100%;
  height: auto;
  -moz-transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
.thumb_overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -moz-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  color: #ffffff;
  background: transparent;
}
.thumb_overlay:before {
  content: '\f065';
  position: absolute;
  font-family: 'FontAwesome';
  font-size: 20px;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
}
.lt-ie9 .thumb_overlay:before {
  display: none;
}
.thumb:hover .thumb_overlay {
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);
}
.lt-ie9 .thumb:hover .thumb_overlay {
  background: none;
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff000000', endColorstr='#ff000000');
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff000000', endColorstr='#ff000000');
  zoom: 1;
}
.thumb:hover .thumb_overlay:before {
  opacity: 1;
}
.lt-ie9 .thumb:hover .thumb_overlay:before {
  display: block;
}
.thumb:hover img {
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/*==================   Accordion    ======================*/
.accordion {
  outline: none;
  position: relative;
  display: block;
  cursor: pointer;
  padding: 6px 5px 5px 32px;
  border: 1px solid #ececec;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.accordion + .accordion {
  margin-top: 8px;
}
.accordion_header {
  outline: none;
}
.accordion_header h6 {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  color: #01b9af;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.accordion_header h6:hover {
  color: #de0500;
}
.ui-accordion {
  outline: none;
  background: #f4f4f4;
}
.accordion_cnt {
  outline: none;
  padding: 20px 40px 19px 0;
}
.accordion_cnt p {
  font-size: 13px;
  line-height: 18px;
}
.ui-accordion-header {
  outline: none;
  position: relative;
  cursor: pointer;
}
.ui-accordion-header:before {
  content: "\f067";
  font-family: 'FontAwesome';
  position: absolute;
  left: -24px;
  top: 50%;
  margin-top: -9px;
  font-size: 10px;
  line-height: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 16px;
  height: 16px;
  border: 1px solid #7b7f82;
  color: #51565a;
}
.ui-accordion-header-active h6 {
  color: #de0500;
}
.ui-accordion-header-active:before {
  content: "\f068";
}
.block_cnt + .accordion {
  margin-top: 12px;
}

/*==================  RD Parallax    ======================*/
.parallax {
  position: relative;
  overflow: hidden;
}
.parallax_image,
.parallax_pattern {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-position: center center;
  will-change: transform;
}
.parallax_image {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.parallax_pattern {
  background-repeat: repeat;
}
.parallax_cnt {
  position: relative;
}
.parallax a.link {
  text-decoration: underline;
}

/*==================   RD Mobile Menu    =====================*/
.rd-mobilemenu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1500;
  text-align: left;
  -moz-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.rd-mobilemenu.active {
  right: 0;
}
.rd-mobilemenu_ul {
  position: fixed;
  top: -56px;
  left: 0;
  bottom: -56px;
  width: 240px;
  padding: 132px 0 76px;
  color: #666666;
  background: rgba(255, 255, 255, 0.97);
  font-size: 14px;
  line-height: 20px;
  overflow: auto;
  -moz-box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
  -moz-transform: translateX(-240px);
  -ms-transform: translateX(-240px);
  -o-transform: translateX(-240px);
  -webkit-transform: translateX(-240px);
  transform: translateX(-240px);
  -moz-transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  -moz-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}
.lt-ie9 .rd-mobilemenu_ul {
  background: none;
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff');
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff');
  zoom: 1;
}
.rd-mobilemenu.active .rd-mobilemenu_ul {
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.rd-mobilemenu_ul li.active > a {
  background: #de0500;
  color: #ffffff;
}
.rd-mobilemenu_ul a {
  display: block;
  padding: 14px 25px 16px;
}
.rd-mobilemenu_ul a.active {
  background: #f5f5f5;
  color: #2d2d2d;
}
.rd-mobilemenu_ul a:hover {
  background: #de0500;
  color: #ffffff;
}
.rd-mobilemenu_ul a .rd-submenu-toggle {
  position: absolute;
  top: 50%;
  right: 11px;
  margin-top: -17.5px;
  width: 32px;
  height: 32px;
  font: 400 10px 'FontAwesome';
  line-height: 32px;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #000000;
  -moz-transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
  z-index: 1;
  background: rgba(0, 0, 0, 0.1);
}
.rd-mobilemenu_ul a .rd-submenu-toggle:after {
  content: '\f078';
}
.rd-mobilemenu_ul a .rd-submenu-toggle:hover {
  background: #ffffff;
  color: #666666;
}
.rd-mobilemenu_ul a.rd-with-ul {
  position: relative;
}
.rd-mobilemenu_ul a.rd-with-ul.active .rd-submenu-toggle {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.rd-mobilemenu_ul ul a {
  padding-left: 40px;
  border: none;
  padding-top: 14px;
  padding-bottom: 16px;
}
.rd-mobilemenu_ul ul ul {
  border: none;
  box-shadow: none;
  background: transparent;
  padding: 0;
  left: 0;
  top: 0;
  text-align: left;
  transform: none;
}
.rd-mobilemenu_ul ul ul:before,
.rd-mobilemenu_ul ul ul:after {
  display: none;
}
.rd-mobilemenu_ul ul ul li {
  border: none;
  box-shadow: none;
}
.rd-mobilemenu_ul ul ul a {
  padding: 0;
  margin: 0;
  padding-left: 60px;
  color: inherit;
  font-size: 14px;
  padding-top: 14px;
  padding-bottom: 16px;
  border: none;
  box-shadow: none;
}
.rd-mobilemenu_ul ul ul a.active {
  background: #f5f5f5;
  color: #2d2d2d;
}
.rd-mobilemenu_ul ul ul a:hover {
  background: #de0500;
  color: #ffffff;
}
.rd-mobilemenu_ul:after {
  content: '';
  display: block;
  height: 20px;
}
.rd-mobilepanel {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  background: #ffffff;
  color: #000000;
  -moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  z-index: 1501;
}
.rd-mobilepanel_title {
  position: fixed;
  padding-left: 10px;
  top: 4px;
  left: 56px;
  right: 56px;
  color: #000000;
  font-size: 24px;
  line-height: 48px;
  letter-spacing: 1.2px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.rd-mobilepanel_title small {
  display: none;
}
.rd-mobilepanel_toggle {
  position: fixed;
  top: 4px;
  left: 8px;
  width: 48px;
  height: 48px;
  background-color: #f7f7f7;
  border-color: transparent;
  outline: none;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.rd-mobilepanel_toggle span {
  position: relative;
  display: block;
  margin: auto;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.rd-mobilepanel_toggle span:after,
.rd-mobilepanel_toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -8px;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.rd-mobilepanel_toggle span:after {
  top: 8px;
}
.rd-mobilepanel_toggle span:after,
.rd-mobilepanel_toggle span:before,
.rd-mobilepanel_toggle span {
  width: 24px;
  height: 4px;
  background-color: #000000;
  backface-visibility: hidden;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.rd-mobilepanel_toggle span:before,
.rd-mobilepanel_toggle span:after {
  -webkit-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0s;
  transition-delay: 0.3s, 0s;
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, transform;
}
.rd-mobilepanel_toggle.active span {
  transition: background .3s 0s ease;
  background: transparent;
}
.rd-mobilepanel_toggle.active span:before,
.rd-mobilepanel_toggle.active span:after {
  top: 0;
  -webkit-transition-delay: 0s, 0.3s;
  transition-delay: 0s, 0.3s;
}
.rd-mobilepanel_toggle.active span:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.rd-mobilepanel_toggle.active span:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
@media (max-width: 767px) {
  body {
    padding-top: 56px;
  }
  .rd-mobilemenu,
  .rd-mobilepanel {
    display: block;
  }
}
@media (max-width: 359px) {
  .rd-mobilepanel_title {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  div#panel .navbar-header .navbar-toggle .icon-bar {
    background-color: #000000;
  }
  div#panel #advanced .navbar-collapse li a,
  div#panel #advanced .navbar-collapse .dropdown-menu li a {
    background: #ffffff !important;
    color: #666666 !important;
  }
  .lt-ie9 div#panel #advanced .navbar-collapse li a,
  .lt-ie9 div#panel #advanced .navbar-collapse .dropdown-menu li a {
    background: none !important;
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff') !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff') !important;
    zoom: 1 !important;
  }
  div#panel #advanced .navbar-collapse li a:hover {
    background: #de0500 !important;
    color: #ffffff !important;
  }
  div#panel #advanced .navbar-collapse .-tm-dropdown.open > a {
    background-color: #f5f5f5 !important;
    color: #2d2d2d !important;
  }
  div#panel #advanced .navbar-collapse,
  div#panel #advanced .navbar-collapse .dropdown-menu {
    background: #ffffff !important;
    padding-top: 0!important;
    -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  }
  .lt-ie9 div#panel #advanced .navbar-collapse,
  .lt-ie9 div#panel #advanced .navbar-collapse .dropdown-menu {
    background: none !important;
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff') !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff') !important;
    zoom: 1 !important;
  }
}
.rd-mobilemenu_ul ul ul a {
  padding: 14px 0px 16px 116px;
}
.stacktable {
  width: 100%;
}
.st-head-row {
  padding-top: 1em;
}
.st-head-row.st-head-row-main {
  font-size: 1.5em;
  padding-top: 0;
}
.st-key {
  width: 49%;
  text-align: right;
  padding-right: 1%;
}
.st-val {
  width: 49%;
  padding-left: 1%;
}
/* RESPONSIVE EXAMPLE */
.stacktable.large-only {
  display: table;
}
.stacktable.small-only {
  display: none;
}
@media (max-width: 800px) {
  .stacktable.large-only {
    display: none;
  }
  .stacktable.small-only {
    display: table;
  }
}